h1{
    margin-top: 7vh;
     display: flex;
    justify-content: center;S
}

.counter{


 margin-top: 4vh;
 border: 0.3vh  solid #ccc ;
 padding: 2vh;
 width: 170vh;
 margin-left: 20vh;
 border-radius: 0.5vh;
 


}

.inputCounter{
    display: flex;
    justify-content: center;



}

.warning{
    color: red;
    display: none;
   margin-left: 7vh;

}

.inputIcon{
   width: 32px;
  height: 32px;
  background-color: #0da2c0;


}