h1{
    margin-top: 7vh;
    display: flex;
    justify-content: center;
}
.butooncontainer
{
    display: flex;
    justify-content: space-around;

}
.button
{
    width: 40vh;
    height: 4vh;
    background-color: #0da2c0;
    border:0.5vh solid #0da2c0;
    border-radius: 0.5vh;
    color: white;

}
.Deletcontainer{
    display: flex;
    justify-content: space-around;

}
.deletbutton
{
     width: 90vh;
    height: 4vh;
    background-color:#f88;
    border:0.5vh solid #f88;
    border-radius: 0.5vh;
    color: white;
}s